*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 90px;
    background-color: rgb(221, 175, 175);
}

.content{
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

